# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# CSV / data files
data/*.csv

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / editor folders
.vscode/
.idea/

# Python packaging
*.egg-info/
dist/
build/